<template name="Cas_Login">

      <div class="ui dropdown icon item">
        <i class="user icon"></i>
        <i class="dropdown icon"></i>

        <div class="menu">
        {{#if currentUser}}
          {{#each userData in userDataList}}
          {{#if matchUser userData.userName}}
          <a class="item" href="{{pathFor 'User_Profile_Page' _id=userData.userName}}">Profile</a>
          {{/if}}
          {{/each}}
          <a class="item" href="{{pathFor 'Create_Section_Page'}}">Create Study Section</a>
          <a class="item cas-logout">Logout</a>
        {{else}}
          <a class="item cas-login">Login</a>
        {{/if}}
        </div>
      </div>


</template>