@import url(https://fonts.googleapis.com/css?family=Comfortaa);

@font-face {
    font-family: gangofthree;
    src: url(/fonts/go3v2.ttf);
}

body {

}

/* Header */

.ui.image.headerlogo.item {
  height: 150px;
  width: 300px;
  float: left;
  margin: 10px 10px 10px 10px;

}

.ui.borderless.topmenu.inverted.menu {
  border: none;
  box-shadow:  none;
  background-color: #015836;
  border-radius: 0;
  /*margin-bottom:10px;*/
  margin-top:0px;
}

.ui.middle.container {
  background: url('https://vokiblog.files.wordpress.com/2014/10/find-study-buddy.jpg') no-repeat center;
  background-size: cover;
  height: 1000px;
}


p{
}

#calendar {
  font-family: Comfortaa;
}

/* Landing Page */

#mainimg{
  height: 800px;
  background: url("/images/library-girl-dark.jpg") no-repeat;
  background-size: 100% auto;
  color: white;
  font-size: 50px;
  font-family: gangofthree;
  text-align: center;
  overflow: hidden;
}

#aboutimg {
  height: 950px;
  background: url("/images/art-building.JPG") no-repeat;
  background-size: 100% auto;
  color: white;
  font-size: 40px;
  font-family: gangofthree;
  text-align: center;
  overflow: hidden;
}

#landingLogo {
  margin: 10px 10px 10px 10px;   /* Top right bottom left */
  float:left;
}
#aboutBt {
  margin: 20px 50px 10px 10px;
  font-size: medium;
  color: white;
  float: right;
}

#info {
  color: white;
  text-align: left;
}

.buffer {
  padding-top: 200px;
}

.about-buffer {
  padding-top: 100px;
}
.hide{
  display: none;
}

/* In Section */
.ui.messages.container{
  height: 500px;
  border: 1px solid #DDD;
  border-radius:5px;
  background-color: #EAFAF1;
  width:80%;
  float:left;
  position: relative;
}
.ui.comments.topleft{
  /*width:inherit;*/
  max-width: 1500px;
  border-radius:5px;
  /*border-right:1px solid #DDD;*/
  height: 300px;
  padding:0px;
  margin-right:5px;
  margin-left:10px;
  margin-top:10px;
  overflow-y: auto;

}
.ui.container.replyform{
  width:80%;
  height:50px;
  float:left;
}
#roomInfo{
  width:20%;
  height: 500px;
  border: 1px solid #DDD;
  background-color: #EAFAF1;
  float:right;
  border-radius:5px;
}
.ui.row.description{
  height: 30%;
  border: 1px solid deepskyblue;

  overflow:auto;
  border-radius:5px;
}
.ui.row.users{
  height:70%;
  overflow:auto;
  border-radius:5px;
  border: 1px solid deepskyblue;
}
<<<<<<< HEAD

/* Images */

.belt-rank{
  height:50px;
  width: 50px;
=======
/*            */



.header-image{
  height: 100px;
  background-image: url('/images/library-girl-dark.jpg');
  background-size: 100%;
>>>>>>> origin/master
}