@import url(https://fonts.googleapis.com/css?family=Comfortaa);

@font-face {
    font-family: gangofthree;
    src: url(/fonts/go3v2.ttf);
}

body {

}

/* Header */
#mainheader {
  background-color: springgreen;

}
.ui.image.headerlogo.item {
  height: 150px;
  width: 300px;
  float: left;
  margin: 10px 10px 10px 10px;

}

.ui.borderless.topmenu.container.menu {
  border: none;
  box-shadow:  none;
  float: right;
  margin-top: 75px;
  width: 50%;
  background-color: springgreen;
}

.ui.middle.container {
  background: url('https://vokiblog.files.wordpress.com/2014/10/find-study-buddy.jpg') no-repeat center;
  background-size: cover;
  height: 1000px;
}


p{
}

#calendar {
  font-family: Comfortaa;
}

/* Landing Page */

#mainimg{
  height: 800px;
  background: url("/images/library-girl-dark.jpg") no-repeat;
  background-size: 100% auto;
  color: white;
  font-size: 50px;
  font-family: gangofthree;
  text-align: center;
  overflow: hidden;
}

#landingLogo {
  margin: 10px 10px 10px 10px;   /* Top right bottom left */
  float:left;
}
#aboutBt {
  margin: 20px 50px 10px 10px;
  font-size: medium;
  color: white;
  float: right;
}

#info {
  color: white;
  text-align: left;
}

.buffer {
  padding-top: 200px;
}

.hide{
  display: none;
}